[MASTER]
# Temporarily adjust thresholds while we incrementally improve code
disable=
    too-many-lines,
    too-many-instance-attributes,
    too-few-public-methods

[MESSAGES CONTROL]
# Disable specific checks that are less critical
disable=
    C0103,  # Invalid name (will fix naming gradually)
    C0301,  # Line too long (will fix formatting gradually)
    R0913,  # Too many arguments (will refactor gradually)
    R0914,  # Too many local variables
    R0915,  # Too many statements
    W0212,  # Access to protected member

[FORMAT]
max-line-length=120
max-module-lines=2000

[DESIGN]
max-args=10
max-attributes=15
max-branches=20
max-locals=25
max-statements=100
min-public-methods=1

[BASIC]
good-names=i,j,k,db,id,_,e,ex,sp

[SIMILARITIES]
min-similarity-lines=10
