# Database Configuration
DB_HOST=db # Use 'db' as hostname for Docker Compose and 'localhost' for local development
DB_PORT=3306
DB_USER=test
DB_PASSWORD=your_pswd
DB_NAME=your_db

# Application Configuration
LOG_LEVEL=DEBUG
API_PORT=8000

# API Security
API_KEY=your_key

# Scraper Configuration
HEADLESS_MODE=True # Set to True for headless mode, False to see the browser
SCREENSHOT_ENABLED=True
SCRAPE_DELAY=2